/* pages/task/finshtask.wxss */
.container{
  padding: 40rpx;
}
.top{
  width:100%;
  border-bottom:2rpx solid #ccc;
}
.change{
  margin-top: 40rpx;
  width: 100%;
  margin-bottom: 40rpx;
}
.scroll-x {
  display: flex;
  flex-direction: row;
}
.list-item{
  height:100rpx;
  width:100rpx;
  background: #ccc;
  border-radius: 50rpx;
  text-align: center;
  line-height: 100rpx;
  color:white;
  margin: 0 60rpx 0 60rpx;
}
.list-items{
  height:100rpx;
  width:100rpx;
  background: red;
  border-radius: 50rpx;
  text-align: center;
  line-height: 100rpx;
  color:white;
  margin: 0 60rpx 0 60rpx;
}
.rightimg{
  width:80%;
  height:250rpx;
  background: #ccc;
  margin:40rpx auto;
}
.righttext{
  width:80%;
  color:#ccc;
  font-size: 28rpx;
  margin:40rpx auto;
}
.bottom-text{
  width:50%;
  margin: 20rpx auto;
  color:black;
  font-size: 35rpx;
}