/* pages/login/phlogin.wxss */
.container{
  padding: 40rpx;
}
.toptext{
  width: 100%;
  display: flex;
  flex-flow:row;
  margin-bottom: 40rpx;
}
.toptext view{
  width:50%;
  display:inline-block;
}
.left{
  text-align: left;
}
.right{
  text-align: right;
  color:rgb(43, 149, 255);
}
.numbers{
  line-height: 90rpx;
  width: 10%;
  height: 5%;
  top:39.5%;
  left: 22%; 
  position: absolute; 
}
.fidpas_inps{
  width: 40%;
  height: 5%;
  top:40%;
  left: 33%; 
  position: absolute;
}
.fidpas_inp{
  width: 40%;
  height: 5%;
  top:60%;
  left: 33%; 
  position: absolute;
}
.fidpas_inp1{
  width: 40%;
  height: 5%;
  top:47.8%;
  left: 23%; 
  position: absolute;
}
.submit{
  width:250rpx;
  height:90rpx;
  float: right;
  background: white;
}
.submit1{
  background:url("http://127.0.0.1/blank.png");
  width: 35%;
  height: 5%;
  top:47.8%;
  left: 50%; 
  position: absolute;
}
.inputborder{
  margin-bottom: 60rpx;
  float: left;
  padding-bottom:20rpx;
  border-bottom: 4rpx solid #ccc;
}
button::after{border:0}

