/* pages/login/phregist.wxss */
.container{
  padding: 40rpx;
}
.toptext{
  width: 100%;
  display: flex;
  flex-flow:row;
  margin-bottom: 40rpx;
}
.toptext view{
  width:50%;
  display:inline-block;
}
.left{
  text-align: left;
}
.numbers{
  width:90rpx;
  height:90rpx;
  line-height: 90rpx;
  float: left;
}
.fidpas_inps{
  width:580rpx;
  height:90rpx;
  float:right;
}
.fidpas_inp{
  width:670rpx;
  height:90rpx;
  float:left;
}
.fidpas_inp1{
  width:420rpx;
  height:90rpx;
  float: left;
}
.submit{
  width:250rpx;
  height:90rpx;
  float: right;
  background: white;
}
.inputborder{
  margin-bottom: 60rpx;
  float: left;
  padding-bottom:20rpx;
  border-bottom: 4rpx solid #ccc;
}
button::after{border:0}