<image class='ui-share-img'  src='https://cdn.studytour.info/BG_Tree_003.png' style = "width:750rpx;height:1334rpx;position:absolute;"></image>
<image class='ui-share-img'  src='../img/Panel_012.png' 
  style = "width:292rpx;height:181rpx;top:120rpx;left:55rpx;position:absolute;"></image>
<view class='header' style = "top:148rpx;left:85rpx;">
      <open-data class='userInfo' type="userAvatarUrl"  bindgetuserinfo="onGotUserInfo"></open-data>
</view>
<open-data class='store_address' type="userNickName" lang="zh_CN" 
          style = "top:230rpx;left:234rpx;position:absolute;color:#FFFFFF;font-size:30rpx;"></open-data>
<image class='ui-share-img'  src='https://cdn.studytour.info/BG_Tree_002.png' 
  style = "width:600rpx;height:290rpx;left:33rpx;top:0rpx;position:absolute;"></image>
<view class='ui-share-icon' hover-class="ui-share-hover" style='left:495rpx;top:280rpx;position:absolute;' bindtap = 'onOpenUser'> 
    <image class='ui-share-img'  src='../img/Botton_007_Normal.png' style = "width:145rpx;height:152rpx;"></image>
</view>

<view class='ui-share-icon' hover-class="ui-share-hover" style='left:510rpx;top:530rpx;position:absolute;' bindtap = 'onGo'> 
    <image class='ui-share-img'  src='../img/Botton_008_Normal.png' style = "width:180rpx;height:183rpx;"></image>
</view>

<image class='ui-share-img'  src='../img/Role_001.png' 
  style = "width:287rpx;height:440rpx;top:820rpx;left:80rpx;position:absolute;"></image>
<image class='ui-share-img'  src='../img/Bubble_001.png' 
  style = "width:163rpx;height:84rpx;top:846rpx;left:330rpx;position:absolute;"></image>
<!-- <view class="page1"/> -->
  <!-- <canvas canvas-id="1" class="page1" disable-scroll="true" bindtouchstart="touchCStart" bindtouchmove="touchCMove" bindtouchend="touchCEnd"/> -->
  <!-- <view class="top">
    <view class="left">
      <view class="userimg" bindtap='onOpenUser'><image src="{{userInfo?userInfo.avatarUrl:''}}"></image></view>
      <view class="username">{{userInfo?userInfo.nickName:''}}</view>
    </view>
    <view class="right">
      <view class="userscore">{{sumTotalScore?sumTotalScore:'0'}}</view>
      <view class="scorename">成长分</view>
    </view> 
  </view>
  <block wx:if="{{courseInfoList != null}}">
    <block wx:for="{{courseInfoList}}" wx:for-index="courseItemIndex" wx:for-item="courseItem" wx:key="xxx">
      <view class="dateline">{{courseItem.planBeginTime}} 课程计划</view>
      <block wx:for="{{courseItem.taskLine}}" wx:for-index="taskLineItemIndex" wx:for-item="taskLineItem" wx:key="xxx">
      <view class="courselist">
        <block wx:if="{{taskLineItem.recordStatus == 'PLANNING'}}"> 
        <view class="course">
          <view class="coursename">{{taskLineItem.courseApplyName}}</view>
          <view class="courseck">
            <block wx:if="{{taskLineItem.coursePlannedRouteId}}">
              <button data-sid="{{taskLineItem.studentCoursePlannedRouteRecordId}}" data-cid="{{taskLineItem.courseApplyId}}" data-pid="{{taskLineItem.coursePlannedRouteId}}" data-name="{{taskLineItem.coursePlannedRouteName}}" bindtap='onSureAnEnterLine'>打卡</button>
            </block>
            <block wx:else>
               <button data-sid="{{taskLineItem.studentCoursePlannedRouteRecordId}}" data-cid="{{taskLineItem.courseApplyId}}" data-pid="{{taskLineItem.coursePlannedRouteId}}" data-name="{{taskLineItem.coursePlannedRouteName}}" bindtap='onSelectLine'>选择路线</button>
            </block>
            
          </view>
          <view class="bottom">
              <block wx:if="{{taskLineItem.coursePlannedRouteId != null}}">
                <view class="leftbottom">打卡:{{taskLineItem.selectLineName}}<text data-sid="{{taskLineItem.studentCoursePlannedRouteRecordId}}" data-cid="{{taskLineItem.courseApplyId}}" data-pid="{{taskLineItem.coursePlannedRouteId}}" bindtap='onChangeline'> 修改路线</text></view>
              </block>
              <block wx:else>
                <view class="leftbottom">还未选择路线</view>
              </block>
              <block wx:if="{{taskLineItem.rankRecord}}">
                <block wx:if="{{taskLineItem.rankRecord.rank}}">
                  <view class="rightbottom" bindtap='onShowSort'data-cname="{{taskLineItem.courseApplyName}}" data-oid="{{taskLineItem.customerUserOrdersCourseId}}">打卡排名{{taskLineItem.rankRecord.rank}}</view>
                </block>
                <block wx:else>
                  <view class="rightbottom" bindtap='onShowSort' data-cname="{{taskLineItem.courseApplyName}}" data-oid="{{taskLineItem.customerUserOrdersCourseId}}">打卡排名无</view>
                </block>
              </block>
              <block wx:else>
                <view class="rightbottom" bindtap='onShowSort' data-cname="{{taskLineItem.courseApplyName}}" data-oid="{{taskLineItem.customerUserOrdersCourseId}}">打卡排名无</view>
              </block>
          </view>
        </view>
        </block>
        <block wx:if="{{taskLineItem.recordStatus == 'STARTED'}}"> 
        <view class="course">
          <view class="coursename">{{taskLineItem.courseApplyName}}</view>
          <view class="courseck"><button bindtap='onTaskBtn' data-sid="{{taskLineItem.studentCoursePlannedRouteRecordId}}" data-cid="{{taskLineItem.courseApplyId}}" data-pid="{{taskLineItem.coursePlannedRouteId}}" data-name="{{taskLineItem.coursePlannedRouteName}}">打卡</button></view>
          <view class="bottom">
              <view class="leftbottom">打卡:{{taskLineItem.selectLineName}}</view>
              <block wx:if="{{taskLineItem.rankRecord}}">
                <block wx:if="{{taskLineItem.rankRecord.rank}}">
                  <view class="rightbottom" bindtap='onShowSort' data-cname="{{taskLineItem.courseApplyName}}" data-oid="{{taskLineItem.customerUserOrdersCourseId}}">打卡排名{{taskLineItem.rankRecord.rank}}</view>
                </block>
                <block wx:else>
                  <view class="rightbottom" bindtap='onShowSort' data-cname="{{taskLineItem.courseApplyName}}" data-oid="{{taskLineItem.customerUserOrdersCourseId}}">打卡排名无</view>
                </block>
              </block>
              <block wx:else>
                <view class="rightbottom" bindtap='onShowSort' data-cname="{{taskLineItem.courseApplyName}}" data-oid="{{taskLineItem.customerUserOrdersCourseId}}">打卡排名无</view>
              </block>
          </view>
        </view>
        </block>
        <block wx:elif="{{taskLineItem.recordStatus == 'COMPLETED'}}">
      <view class="course">
          <view class="coursename">{{taskLineItem.courseApplyName}}</view>
          <view class="courseck"><text>打卡完成获得{{taskLineItem.totalScore}}分</text></view>
          <view class="bottom">
              <view class="leftbottom">打卡:{{taskLineItem.selectLineName}}</view>
              <block wx:if="{{taskLineItem.rankRecord}}">
                <block wx:if="{{taskLineItem.rankRecord.rank}}">
                  <view class="rightbottom" bindtap='onShowSort' data-cname="{{taskLineItem.courseApplyName}}" data-oid="{{taskLineItem.customerUserOrdersCourseId}}">打卡排名{{taskLineItem.rankRecord.rank}}</view>
                </block>
                <block wx:else>
                  <view class="rightbottom" bindtap='onShowSort' data-cname="{{taskLineItem.courseApplyName}}" data-oid="{{taskLineItem.customerUserOrdersCourseId}}">打卡排名无</view>
                </block>
              </block>
              <block wx:else>
                <view class="rightbottom" bindtap='onShowSort' data-cname="{{taskLineItem.courseApplyName}}" data-oid="{{taskLineItem.customerUserOrdersCourseId}}">打卡排名无</view>
              </block>
          </view>
        </view>
        </block>
      </view>
      </block>
    </block> 
  </block>
  <block wx:else>
    <view class="body">
      <view class="bodytext nocourse">您还没有课程计划。</view>
      <view class="bodybutton nocourses"><button bindtap='onOpenApp'>进入app开始购买</button></view>
    </view>
  </block> -->
<!-- </view>   -->
